
// Milligram Sass Modules
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@import "normalize";

@import "Color";
@import "Base";
@import "Blockquote";
@import "Button";
@import "Code";
@import "Divider";
@import "Form";
@import "Grid";
@import "Link";
@import "List";
@import "Spacing";
@import "Table";
@import "Typography";
@import "Utility";


body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: black;
}
.container {
  padding: 0.5em 1em;
}

a {
  text-decoration: underline;
}
h1 a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

span.date {
  font-weight: bold;
}




// Preview
img {
	width: 100%;
}
.preview figure {
	margin: 0;
	padding: 0;
}

.preview h2 {
  font-size: 1.5em;
}
.preview h3 {
  margin-top: 1.0em;
}


@media (min-width: 50.0rem) { 
  .preview .column {
    max-width: 33%;
  }
}



// Footer
.footer {
  margin-top: 30px;
}
.footer p {
  font-size: 80%;
}




// Home page dates table
.ttable {
  display: table;
}
.ttitle {
  display: table-caption;
}
.theading {
  display: table-row;
}
.trow {
  display: table-row;
}
.tcell {
  display: table-cell;
  border: none;
  padding-right: 8px;
}
.tcellright {
padding-right: 0 !important;
}
.tcell ul {
  margin-bottom: 0;
}
.tseparator {
  display: block;
  height: 1.0em;
}

// day and date linebreak for very small screens. prevent linebreak on large screens.
.tcelldate {
  font-size: 95%;
}
@media (min-width: 40.0rem) { 
  .tcelldate {
    min-width: 9.0rem;
    font-size: inherit;
  }
}